    <!--BANNER START-->
  <div id="banner2" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1 class="small">   <span class="bold">Welcome</span></h1>
          <p class="big">This is my portfolio website.</p>
          <a href="#" class="btn btn-banner">Hire me<i class="fa fa-send"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--BANNER END-->
  <!--PORTFOLIO START-->
  <div id="portfolio" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="page-title text-center">
          <h1>My Privious Works</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. </p>
          <hr class="pg-titl-bdr-btm"></hr>
        </div>
        <div class="port-sec">
          <div class="col-md-12 fil-btn text-center">
              <div class="filter wrk-title active" data-filter="all">Show All</div>
              <div class="filter wrk-title" data-filter=".category-1">Design</div>
              <div class="filter wrk-title" data-filter=".category-2">Development</div>
              <div class="filter wrk-title lst-cld" data-filter=".category-3">SEO</div>
          </div>
          <div id="Container">
                <div class="filimg mix category-1 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="2">
                  <img src="img/fea1.jpg" class="img-responsive">
                </div>
                <div class="filimg mix category-2 col-md-4 col-sm-4 col-xs-12" data-myorder="4">
                  <img src="img/fea2.jpg" class="img-responsive">
                </div>
                <div class="filimg mix category-1 col-md-4 col-sm-4 col-xs-12" data-myorder="1">
                  <img src="img/fea3.jpg" class="img-responsive">               </div>
                <div class="filimg mix category-2 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
                  <img src="img/fea4.jpg" class="img-responsive">               </div>
                <div class="filimg mix category-2 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
                  <img src="img/fea5.jpg" class="img-responsive">
                </div>
                <div class="filimg mix category-2 category-3 col-md-4 col-sm-4 col-xs-12" data-myorder="8">
                  <img src="img/fea6.jpg" class="img-responsive">
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--PORTFOLIO END-->
